<!DOCTYPE html>
<html>
    <head lang="de">
        <meta charset="UTF-8">
        <title>Rechner</title>
        <style>
            .button {
                background-color: #d3d3d3;
                border: none;
                border-radius: 5px;
                color: #252d2b;
                width:  50px;
                height: 40px;
                /*padding: 15px 32px;*/
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="outer" style="position: relative;">
            <div class="middle" style="display: table-cell; vertical-align: middle; border-style: groove; background-color: lightgray">
                <form action="../src/parse.php" method="post">
                    <input type="text" name="input" id="screen" style="border: solid; border-radius: 4px; border-width: 2px; width: 98%; height: 20px; font-size: 18px;"/>
                    <div id="keypad" style="border: solid;  background-color: gray">
                        <button class="button">7</button>
                        <button class="button">8</button>
                        <button class="button">9</button>
                        <button class="button" value="/">÷</button>
                        <button class="button" value="clear">c</button>
                        <br />
                        <button class="button">4</button>
                        <button class="button">5</button>
                        <button class="button">6</button>
                        <button class="button" value="*">x</button>
                        <input  class="button" type="submit" value="=" />
                        <br />
                        <button class="button">1</button>
                        <button class="button">2</button>
                        <button class="button">3</button>
                        <button class="button">-</button>
                        <br />
                        <button class="button">0</button>
                        <button class="button">±</button>
                        <button class="button">.</button>
                        <button class="button">+</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            window.onload = function () {
                var screen  = document.getElementById('screen'),
                        keypad  = document.getElementById('keypad'),
                        buttons = keypad.getElementsByTagName('button');
                for (var i = 0; i < buttons.length; i++) {
                    buttons[i].onclick = function () {
                        if(this.value == "clear") {
                            screen.value = null;
                        } else {
                            if (this.value) {
                                screen.value = screen.value + this.value;
                            } else {
                                screen.value = screen.value + this.innerHTML;
                            }
                        }
                        // Try to comment line below to see what happens
                        return false;
                    };
                }
            };
        </script>
    </body>
</html>

